<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- vuetify CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.4.6/dist/vuetify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Nunito:wght@200;300;400;700;800;900&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Faicon-Generator</title>
</head>
<body>
    <!-- Vue CDN -->
    <div style="margin: 0 60px; padding: 10% 0;" id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.6/dist/vuetify.min.js"></script>
    
        <script type="text/x-template" id="app-template">
            <v-app >
                <v-container >
                    <v-card variant="tonal">
                        <v-card class="innin-Card" variant="tonal">
                            <h3>Favicon-Generator</h3>
                            <div class="FotoBackground" :style="{ 'background-color': neuColorfull, width: widthSize + 'px', height: heightSize + 'px'}" >
                                <!-- <div class="icon-mask" :style="{ '--mask-image': 'url(' + selectedFileURL + ')', '--mask-image-color': neuColorMaske}" > -->
                                <div class="icon-mask" :style="{ '--mask-image': 'url(' + selectedFileURL + ')', '--mask-image-color': neuColorMaske}" >
                                    <img :class="'icon'" :style="{filter: GrayscaleColor}" v-if="selectedFileURL" :src="selectedFileURL" alt="Uploaded Image">
                                </div>
                            </div>
                            <!-- <v-input class="input" class="input" label="Image input"></v-input> -->
                        </v-card>
                            <!-- <v-label for="input-file" >add image</v-label> -->
                        <input type="file" class="input"  @change="onFileSelected" id="input-file">
                        <v-text-field @keydown.enter.prevent ="backgroundColorChange" class="color-input" v-model="neuColor" label="Background-color: (# / color) + 'Enter' "></v-text-field>
                        <v-divider inset style="width: 80%; margin: 0 auto;"></v-divider>
                        <div style="margin: 10px 90px" >
                            <p v-if="selectedOption.Width && selectedOption.Height">Ausgewählt Option: {{ selectedOption.Width }} px  {{ selectedOption.Height }} px</p>
                            <p v-else>Ausgewählt Option: (Grayscale)</p>
                            
                            <v-radio-group inline v-model="selectedOption">
                                <v-radio v-for="imgOption in imgSizeOptions" :key="imgOption.id" @click="changeImageSize(imgOption)" :label="imgOption.name" :value="imgOption.value"></v-radio>
                            </v-radio-group>
                            <v-col  >
                                <!-- <v-btn class="save" size="x-large"   @click.prevent="$emit('save')">Icon speichern</v-btn> -->
                                <v-btn class="save" size="x-large"   @click="saveImageLocallyInBrowser(selectedFileURL,'Icon.png')">Icon speichern</v-btn>
                            </v-col>
                        </div>
                            
                    </v-card>
                </v-container>
            </v-app>
        </script>

    <script>
        const {createApp, ref, onMounted, watch, reactive  } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify();
        const app = createApp({
            template: '#app-template',

            setup(){
                const singleImgSizeOpject = ref(null);
                const selectedFileURL = ref(null);
                const selectedTarget = ref(null);
                const neuColor = ref('');
                const neuColorfull = ref('');
                const neuColorMaske = ref('');
                const state = reactive({
                    changeImageSizeCalled: false,
                });
                const imgSizeOptions  = ([
                    {
                        id: 1,
                        name: 'none',
                        value: {Width: 250, Height: 250},
                        safezone: false,
                        clicked: false
                    },
                    {
                        id: 2,
                        name: 'favicon.ico',
                        value: {Width: 32, Height: 32},
                        safezone: true,
                        clicked: false
                    },
                    {
                        id: 3,
                        name: 'Web-PNG 192px',
                        value: {Width: 192, Height: 192},
                        safezone: true,
                        clicked: false
                    },
                    {
                        id: 4,
                        name: 'Web-PNG 512px',
                        value: {Width: 512, Height: 512},
                        safezone: true,
                        clicked: false
                    },
                    {
                        id: 5,
                        name: 'Apple-Touch ',
                        value: {Width: 180, Height: 180},
                        safezone: true,
                        clicked: false
                    },
                    {
                        id: 6,
                        name: 'Microsoft',
                        value: {Width: 150, Height: 150},
                        safezone: true,
                        
                        clicked: false
                    },
                    {
                        id: 7,
                        name: 'Safari Pinned (Grayscale)',
                        value: {Width: 'grayscale(100%)', Height: ''},
                        safezone: false,
                        clicked: false
                    },
                ]);
                const widthSize = ref(250);
                const heightSize = ref(250);
                const GrayscaleColor = ref('')

                // console.log(widthSize.value);
                // console.log(widthSize.value);

                const selectedOption = ref(imgSizeOptions[0].value);
                
                // Es ist nicht zu 100% richtig ich muss daran wieder arbeiten
                const convertImageWithBackgroundAndMask = (selectedFile, backgroundColor, maskColor, widthSize, heightSize) => {
                    return new Promise((resolve) => {
                        const selFile = selectedFile;
                        if (!selFile) {
                            resolve('Ungültige Datei');
                            return;
                        };
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            const img = new Image();
                            img.onload = () => {
                                const canvas = document.createElement('canvas');
                                const ctx = canvas.getContext('2d');
                                canvas.width = widthSize;
                                canvas.height = heightSize;
                                
                                console.log('widthSize' + widthSize)
                                console.log( 'heightSize' + heightSize)
                                
                                // Es ist nicht zu 100% richtig ich muss daran wieder arbeiten
                                // Zeichne den Hintergrund
                                if(neuColor.value !== '' ) {
                                    ctx.fillStyle = backgroundColor;
                                    ctx.fillRect(0, 0, canvas.width, canvas.height);
                                    console.log( 'neuColor.value ist: ' + neuColor.value)
                                } 
                                 // Es ist nicht zu 100% richtig ich muss daran wieder arbeiten
                                // if(widthSize !== 250 && neuColor.value !== '') {
                                //     ctx.fillStyle = backgroundColor;
                                //     ctx.fillRect(0, 0, canvas.width, canvas.height);
                                //     console.log( 'backgroundColor ist: ' + backgroundColor)
                                // } 

                                // Zeichne die Safe Zone
                                if( widthSize !== 250 && heightSize !== 250) {
                                    const safezoneRadius = Math.min(canvas.width, canvas.height) * (4 / 5) / 2; // 4/5 safezone
                                    ctx.beginPath();
                                    ctx.arc(canvas.width / 2, canvas.height / 2, safezoneRadius, 0, 2 * Math.PI);
                                    ctx.fill();

                                    // Schneide den Canvas-Bereich auf die Safe Zone aus
                                    ctx.globalCompositeOperation = 'source-in'
                                }

                                // Zeichne das Bild innerhalb der Safe Zone
                                ctx.drawImage(img, 0, 0, widthSize, heightSize);
                                
                                // Setze den Blend-Modus zurück
                                ctx.globalCompositeOperation = 'source-over';

                                // Konvertiere das Canvas-Bild zu Base64
                                const convertedImageURL = canvas.toDataURL('image/*');
                                resolve(convertedImageURL);
                            };
                            img.src = e.target.result;
                        };
                        
                        reader.onerror = () => {
                        resolve('Fehler beim Lesen der Datei');
                        };

                        reader.readAsDataURL(selFile);
                    });
                };   

                //Um das Icon zu zeigen
                const onFileSelected = async (event) => {
                    if(!selectedTarget.value){
                        console.log(selectedTarget.value + '1')
                        selectedTarget.value = event;
                        // console.log(selectedTarget.value + '2')
                    }
                    const selectedFile = event.target.files[0];
                    // console.log(selectedFile + 'selectedFile33333333333');
                    if (selectedFile) {
                        // Bild in Base64 konvertieren
                        const reader = new FileReader();
                        reader.onload = async (e) => {
                            selectedFileURL.value = e.target.result;
                            // console.log(selectedFileURL.value);
                            console.log(widthSize.value + 'onFileSelected')
                            console.log(heightSize.value + "onFileSelected")
                            // Konvertiere das Bild in die gewünschte Größe
                            const convertedImageURL = await convertImageWithBackgroundAndMask(selectedFile, neuColorfull.value, neuColorMaske.value, widthSize.value, heightSize.value);
                            // die konvertierte URL für das Bild im Canvas
                            selectedFileURL.value = convertedImageURL;
                        };
                        reader.readAsDataURL(selectedFile);
                        
                    }
                };

                const saveImageLocallyInBrowser = async (dataURL, fileName) => {
                    
                    // console.log(selectedTarget.value);
                    await onFileSelected(selectedTarget.value);
                    console.log('saveImageLocallyInBrowser'+ neuColorfull.value)
                    console.log('saveImageLocallyInBrowser'+ neuColorMaske.value)
                    const convertedDataURL = await convertImageWithBackgroundAndMask(selectedTarget.value.target.files[0], neuColorfull.value, neuColorMaske.value, widthSize.value, heightSize.value);
                    // Erstellung eines Download-Links
                    const link = document.createElement('a');
                    link.href = convertedDataURL;
                    link.download = fileName;
                    link.click();
                    // window.location.reload();
                };

                const saveImageToLocalStorage = (dataURL) => {
                    // Speichere das Bild in der Local Storage
                    localStorage.setItem('konvertiertesBild', dataURL);
                };
                
                const changeImageSize = async (sizeOpject) => {
                    // Speicherung des ausgewähltes Objektes local
                    singleImgSizeOpject.value = sizeOpject

                        await onFileSelected(selectedTarget.value)
                    
                        if(selectedFileURL.value) {
                            if(sizeOpject.value.Height && sizeOpject.value.Width){
                                GrayscaleColor.value = ''
                                // console.log(sizeOpject.value.Width + 'changeImageSize')
                            // console.log(sizeOpject.value.Height + 'changeImageSize')
                            widthSize.value = sizeOpject.value.Width
                            heightSize.value = sizeOpject.value.Height
                        }
                        else {
                            // widthSize.value = ''
                            // heightSize.value = ''
                            GrayscaleColor.value = sizeOpject.value.Width
                        }
                        await onFileSelected(selectedTarget.value)
                        // changeImage Size Überwachung
                        state.changeImageSizeCalled = !state.changeImageSizeCalled;
                        console.log(widthSize.value)
                        console.log(heightSize.value)

                    }
                    
                };    

                // wenn changeImageSize aufgerufen wurde führt backgroundColorChange() aus
                watch(() => state.changeImageSizeCalled, () => {
                    console.log('changeImageSize wurde aufgerufen');
                    // um die Farbe zu wechseln zwichen neuColorMaske and neuColorfull
                    backgroundColorChange()
                });

                const backgroundColorChange = () => {
                    // changeImage Size Überwachung
                    if(selectedFileURL.value) {
                        if(widthSize.value === 250 ) {
                            // neuColorMaske.value =  'transparent';
                            // neuColorfull.value = 'transparent';
                            neuColorfull.value = neuColor.value;
                            neuColorMaske.value = neuColorfull.value;
                            
                        } else if (GrayscaleColor.value){
                            neuColorfull.value = neuColor.value;
                            neuColorMaske.value = neuColorfull.value;

                        } else if (neuColor.value === '') {
                            neuColorfull.value = '';
                            neuColorMaske.value = '';

                        }else if (neuColor.value !== '' && widthSize.value !== 250){
                            neuColorfull.value = neuColor.value;
                            neuColorMaske.value = neuColor.value;
                        }
                        else{
                            // neuColorfull.value = neuColor.value;
                            neuColorfull.value = neuColor.value ;
                            neuColorMaske.value = neuColorfull.value ;
                        }
                    }
                };

                return {widthSize,GrayscaleColor, heightSize,neuColorMaske, neuColorfull, neuColor, backgroundColorChange, imgSizeOptions, selectedOption, singleImgSizeOpject, selectedFileURL, onFileSelected, convertImageWithBackgroundAndMask, saveImageLocallyInBrowser, changeImageSize}
            }
        }).use(vuetify).mount('#app')
    </script> 
</body>
</html>

<style>
/* general fonts */
body {
    font-family: 'Cairo', sans-serif;
}
.innin-Card {
    display: block;
    position: relative;
    padding: 20px;
    margin: 50px 100px;

}
.innin-Card h3 {
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.FotoBackground {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: transparent ;
    margin: 30px auto;
    border: 1px solid rgb(210, 210, 210); 
    z-index: 1;
}
.icon-mask::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%; 
    border-radius: 50%;
    background-color: var(--mask-image-color); 
    border: 1px solid rgb(210, 210, 210); 
    /* background-clip: content-box; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.icon-mask {
    width: 100%;
    height: 100%;
    position: relative;
}
.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Bild über der Safe Zone */
}
.input {
    display: block;
    margin: 0 auto 20px;
}
.continer h3 {
    margin: 0 auto;
}
.save {
    margin: 0 auto 20px;
    display: block;
}

.color-input {
    display: block;
    width: 300px;
    margin: 0 auto;
}

#nueBackColor{
    background-color: transparent ;
}

/* Media queries ist noch nicht erstellt */

</style>
